gymnasium[box2d] >= 1.0.0
numpy >= 2.0.0
flax == 0.12.4
jax == 0.9.0
optax == 0.2.6
rlax == 0.1.8
orbax-checkpoint == 0.11.33
wandb
memory-gym @ git+https://github.com/jinPrelude/endless-memory-gym.git
imageio[ffmpeg]
tqdm

